ADDR=:8080
DB_PATH=./data/panel.db
MC_SERVER_ID=default
MC_SERVER_NAME=Default Bedrock Server
MC_ROOT_DIR=../bedrock-server
MC_EXECUTABLE_PATH=../bedrock-server/bedrock_server
MC_WORKING_DIR=../bedrock-server
LOG_RETENTION_DAYS=7
LOG_MAX_ROWS=1000000
ENABLE_PROMETHEUS=true
ENABLE_MCP=false
AUTH_ENABLED=true
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-at-least-12-characters
SESSION_TTL_HOURS=24
